@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 41, 41, 41;
  --background-end-rgb: 41, 41, 41;
  --navbar-background-rgb: 28, 28, 28;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: var(--font-geist-mono);
}

nav {
  background-color: rgb(var(--navbar-background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}