@import "tailwindcss";
@import "@firebase-ui/styles/src/base.css";

:root {
  --foreground-rgb: #ffffff;
  --background-start-rgb: #ffffffff;
  --background-end-rgb: #ffffffff; 
  --navbar-background-rgb: #1c1c1c;
}

body {
  color: var(--foreground-rgb); 
  background: var(--background-start-rgb); 
  font-family: var(--font-geist-mono);
}

nav {
   background-color: var(--navbar-background-rgb);   
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}